.filter-title {
  color: var(--COLOR-GRAY-600);
  font-weight: 600;
  padding: 0.5rem 0;
}
.filter-checkbox {
  color: var(--COLOR-GRAY-400);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
}
.filter-checkbox input {
  margin-right: 1rem;
}
.label-radio {
  padding: 0.2rem 0;
  color: var(--COLOR-GRAY-400);
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
