.wishlist-item-count {
  font-size: 1rem;
  color: var(--COLOR-GRAY-300);
  font-weight: 300;
}

.wishlist-cont {
  padding: 2rem;
  display: flex;
  grid-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-footer {
  display: flex;
}

.btn-wishlist {
  margin-left: 0.5rem;
  color: var(--COLOR-ERROR);
  border: 1px solid var(--COLOR-GRAY-100);
  background-color: transparent;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  max-height: 40px;
  padding: 1rem;
}

.btn-wishlist:hover {
  border: 1px solid var(--COLOR-PRIMARY);
}
