.wishlist-item-count {
  font-size: 1rem;
  color: var(--COLOR-GRAY-300);
  font-weight: 300;
}

.wishlist-cont {
  padding: 2rem;
  display: flex;
  grid-gap: 1rem;
  flex-wrap: wrap;
}

.card-footer {
  display: flex;
}

.btn-wishlist {
  color: var(--COLOR-ERROR);
}
